{% extends "header.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/Styles/account.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>NEISD Cracker</title>

<header>
  <h1>
      <a href="https://skyward.neisd.net/StudentSTS/"><span style="color: #c23838;"><i href="https://skyward.neisd.net/StudentSTS/" class="fa fa-key" aria-hidden="true"></i></span></a></li>
      Account Cracker
  </h1>
</header>

<div class="container">
    <div class="box one">
        <div class="header">
            <h2>Account Cracker Settings</h2>
        </div>
        <div class="content">
          <span id="title">Target email addresses:</span>
          <span id="specfications">(* reqiured)</span>
          <form method="POST">
              <input id="email" type="email"  name="email1" autocomplete="off"  placeholder="Student Email *">
              <input id="email2" type="email" name="email2" autocomplete="off" placeholder="Student Email">
              <input id="email3" type="email" name="email3" autocomplete="off" placeholder="Student Email">
              <input id="email4" type="email" name="email4" autocomplete="off" placeholder="Student Email">
              <input id="email5" type="email" name="email5" autocomplete="off" placeholder="Student Email">
          </form>
          <span class="btn-wrapper">
            <button class="btn" type="submit" name="action">Launch</button>
          </span>
        </div>
    </div>
    <div class="box two">
        <div class="header">
            <h2>Cracked Accounts</h2>
        </div>
        <div class="content">
          
                {% for account in value %}
                    <tr>
                        <th scope="row">{{account.index}}</th>
                        <td>{{account.username}}</td>
                        <td>{{account.password}}</td>
                    </tr>
                {% endfor %}

        </div>
    </div>
    <div class="box three">
        <div class="header">
            <h2>Download TxT File</h2>
        </div>
        <div class="content">
          <div class="btn-wrapper">
            <button class="btn"><a href="/generated-accounts">Download</a></button>
            <button class="btn"><a href="/default-accounts">Default List</a></button>
          </div>
        </div>
    </div>
</div>
{% endblock %}