{% extends "header.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/Styles/account.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>NEISD Cracker</title>

<header>
  <h1>
      <a href="https://skyward.neisd.net/StudentSTS/"><span style="color: #c23838;"><i href="https://skyward.neisd.net/StudentSTS/" class="fa fa-key" aria-hidden="true"></i></span></a></li>
      Account Cracker
  </h1>
</header>

<div class="container">
    <div class="box one">
        <div class="header">
            <h2>Account Cracker Settings</h2>
        </div>
        <div class="content">
          <form method="POST">
            <div class="input-field">
              <input id="email" type="email" class="validate" name="email1" autocomplete="off" value="@stu.neisd.net">
              <label for="email">Students Email Address</label>
            </div>
            <div class="input-field">
                <input id="email2" type="email" class="validate" name="email2" autocomplete="off">
                <label for="email2">Secound Email Address (optional)</label>
            </div>
            <div class="input-field">
                <input id="email3" type="email" class="validate" name="email3" autocomplete="off">
                <label for="email3">Third Email Address (optional)</label>
            </div>
          </form>
          <button class="btn" type="submit" name="action">Launch</button>
          <button class="btn"><a href="/default-accounts">Default List</a></button>
        </div>
    </div>
    <div class="box two">
        <div class="header">
            <h2>Cracked Accounts</h2>
        </div>
        <div class="content">
          <div class="table-wrapper">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Username</th>
                  <th scope="col">Password</th>
                </tr>
              </thead>
              <tbody style="color: white;">
                {% for account in value %}
                    <tr>
                        <th scope="row">{{account.index}}</th>
                        <td>{{account.username}}</td>
                        <td>{{account.password}}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>        
          </div>
        </div>
    </div>
    <div class="box three">
        <div class="header">
            <h2>Download TxT File</h2>
        </div>
        <div class="content">
          <button class="btn"><a href="/generated-accounts">Download</a></button>
        </div>
    </div>
</div>
{% endblock %}