:root {
    --card-color:  rgba(0, 0, 0, .8);
    --card-action-color:  rgba(194, 56, 56, 1);
    --shadow-color: rgba(194, 56, 56, .6);
    --button-color: #c23838
}

header {
    margin: 0px;
    padding: 15px 15px;
    background-color: rgba(245,245,247, 1);
}

h1 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    margin: 5px 0 0 0;
    color: black;
    font-weight: lighter;
    letter-spacing: 0.12em;
}

.card-title {
    font-size: 20px;
    letter-spacing: 0.1em;
}

.card {
    display: inline-block;
    padding: 15px;
    background-color: var(--card-color);
    margin: 25px 25px 0px 25px;
    height: 125 px;
    width: 45.2%;
    color: white;

    border: 1px solid white;
    border-radius: 5px; 
    box-shadow: 0 4px 8px 0 var(--shadow-color);
    transition: 0.3s;
}

/* Fixes padding in center being 50 instead of 25*/
.card:nth-child(even) {
    margin: 25px 25px 0px 0px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 var(--shadow-color);
    transform: scale(1.015);
}

.card-content {
    padding: 4px 0px;
}

.btn {
    padding: 4px;
    width: 85px;
    background-color: var(--button-color);
    border: 1px solid black;
    border-radius: 4px;
    transition-duration: 1s;
    letter-spacing: 0.06em;
}

.btn:hover {
    transform: scale(1.1);
}

.card-action a {
    text-decoration: none;
    color:white;
}